@import './mixins';
@import './variables';


body {
    min-width: 320px;
}

.header {
    background: url('../img/house.png') left 50% bottom 87%/cover no-repeat border-box;

    &__largeLogo {
        height: 5.625rem;
    }

    &__slogan {
        font-style: normal;
        font-weight: 400;
        line-height: 53px;
        color: #FFFFFF;
        text-align: center;
        font-family: $fontfamily;
        @include adaptive-font(48, 30)
    }

    &__short-slogan {
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-family: $fontfamily;
        color: #FFFFFF;
        @include adaptive-font(14, 12);
    }

    &__mobile-menu {
        position: absolute;
        top: 4.8rem;
        z-index: 3;
        right: 0;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.5021358885351015) 0%, rgba(2, 1, 1, 0.6674019949776786) 0%);
        transform: translate(0px, -140%);
        opacity: 0;
        transition: all 0.8s ease 0s;
    }

    &__mobileMenu-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__mobileMenu-wrapper>li {
        padding: 1.5rem 3rem;
        transition: all 0.4s ease 0s;
    }

    &__mobileMenu-wrapper>li:hover {
        background-color: rgba(114, 101, 47, 0.533);
    }

    &__mobile-link {
        text-decoration: none;
        font-size: 1rem;
        color: #FFFFFF;
        font-family: $fontfamily;
    }

}


.background-menu {
    background-color: #52503B;
}

.wraper {
    margin: 0 auto;
    max-width: 1200px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;


    &__logo {
        height: 2.8rem;
        margin: 1rem 0rem 1rem 1.5rem;
    }

    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    &__link {
        text-decoration: none;
        font-size: 1rem;
        color: #FFFFFF;
        font-family: $fontfamily;
    }

    &__link::after {
        display: block;
        content: "";
        height: 3px;
        width: 0%;
        background-color: rgba(255, 255, 255, 0.579);
        transition: width 0.4s ease-in-out;
    }

    &__link:hover::after {
        width: 100%;
    }

    &__actions {
        margin-right: 1.5rem;
    }

    &__btn {
        padding: 0.6875rem 1.125rem;
        background-color: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 6px;
        text-decoration: none;
        color: #52503B;
        font-family: $fontfamily;
        font-size: 1rem;
        transition: all 0.3s ease 0s;
    }

    &__btn:hover {
        background-color: #000;
        color: #FFFFFF;
    }
}

#burger {
    display: none;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    span {
        background-color: ghostwhite;
        width: 2em;
        height: .2em;
        margin: 0.26em 0;
        display: block;
        transition: all .4s ease;
        transform-origin: 0 0;
    }
}

.Diam {
    span:nth-child(1) {
        transform: rotate(45deg) translate(1px, -1px);
    }

    span:nth-child(2) {
        Transform: scaleX(0);
    }

    span:nth-child(3) {
        transform: rotate(-45deg) translate(1px, 0);
    }
}

.content-img-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.125rem;
    padding: 11.125rem 0rem 16.75rem 0rem;
}

.active-mobileMenu {
    transform: translate(0px, 0px);
    opacity: 1;
}


.hide-for-mobile {
    @include breakpoint-down(small) {
        display: none;
    }
}

@media (min-width: 37.51rem) {

    active-mobileMenu,
    .header__mobile-menu {
        display: none;
    }
}


#burger {
    @include breakpoint-down(small) {
        display: flex;
        margin-right: 1.5rem;
    }
}