@import './mixins';
@import './variables';


.wrapper-inform {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 33px;
    padding-bottom: 90px;
    gap: 40px;
    //
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;

}
.active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.information {
    background-color: #FAF8F0;

    &__largeText {
        width: 360px;
        font-family: $fontfamily;
        font-style: normal;
        font-weight: 400;
        @include adaptive-font(14, 11);
        line-height: 20px;
        color: #333333;
        margin-left: 0.625rem;
    }

    &__half {
        width: 342px;
    }

    &__litleText {
        font-family: $fontfamily;
        font-style: normal;
        font-weight: 400;
        @include adaptive-font(14, 11);
        line-height: 20px;
        color: #333333;
        margin-right: 0.625rem;
    }

    &__btn {
        display: inline-block;
        padding: 0.6875rem 1.125rem;
        background-color: #52503B;
        border-radius: 6px;
        text-decoration: none;
        color: #FAF8F0;
        margin-top: 1.375rem;
        transition: all .3s ease 0s;
    }

    &__btn:hover {
        background-color: black;
        color: white;
    }
}

.line {
    display: inline-block;
    margin: 0 auto;
    margin-top: 100px;
    margin-left: 49%;
    background: #E08631;
    border-radius: 0px;
    height: 8px;
    width: 44px;
}

.wrapper-inform {
    @include breakpoint-down(small) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

.informText {
    @include breakpoint-down(small) {
        text-align: center;
    }
}

.information__half {
    @include breakpoint-down(small) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}