//breakpoints

@media (min-width: 62em) {}

//481px, 993px
$breakpoints-up: (
    'medium': '30.0625rem',
    'large': '62.0625rem'
);

//480, 992px
$breakpoints-down: (
    'small': '37.5rem',
    'medium': '62rem'
);

@mixin breakpoint-up($size) {
    @media(min-width: map-get($breakpoints-up, $size)) {
        @content;
    }
}

@mixin breakpoint-down($size) {
    @media(max-width: map-get($breakpoints-down, $size)) {
        @content;
    }
}
//fonts

@mixin adaptive-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7 ;
    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / 1280));
    }
    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / 1280));       
    }
}
 