@import './mixins';
@import './variables';

.prewier {
    &__text {
        font-family: $fontfamily;
        font-style: normal;
        font-weight: 700;
        @include adaptive-font(96, 40);
        margin-top: 2rem;
        text-align: center;
        margin-bottom: 8.75rem;
        color: #52503B;
    }

    &__img {
        width: 100%;
        height: 37.5rem;
        background: url('../img/kitchen.png') left 50% bottom 87%/cover no-repeat border-box;
    }
}