@import './mixins';
@import './variables';

.booked {
    background-color: #FAF8F0;

    &__container {
        max-width: 1200px;
        margin: 0 auto;
    }

    &__title {
        font-family: $fontfamily;
        @include adaptive-font(32, 28);
        line-height: 36px;
        text-align: center;
        color: #52503B;
        padding-top: 2rem;
        padding-bottom: 1rem;
        width: 50%;
        margin: 0 auto;
    }

    &__slogan {
        font-family: $fontfamily;
        font-size: 1rem;
        text-align: center;
        color: #52503B;
        padding-bottom: 1.125rem;
        width: 50%;
        margin: 0 auto;
    }

    &__wrapperBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding-bottom: 6.25rem;
    }

    &__btnContact {
        text-decoration: none;
        font-family: $fontfamily;
        font-size: 16px;
        text-align: center;
        color: #52503B;
        padding: 1rem 1.625rem;
        border: 4px solid #52503B;
        background-color: #FAF8F0;
        border-radius: 10px;
    }
    &__btnContact:hover {
        background-color: #52503B;
        border: 4px solid #faf8f096;
        color: white;
    }
    &__btnBook {
        text-decoration: none;
        font-family: $fontfamily;
        font-size: 16px;
        text-align: center;
        color: white;
        padding: 1rem 1.625rem;
        border: 4px solid #faf8f096;
        background-color: #52503B;
        border-radius: 10px;
    } 
    &__btnBook:hover {
        color: #52503B;
        background-color: #FAF8F0;
        border: 4px solid #52503B;
    }
}
