@import './mixins';
@import './variables';


.footer {
    background-color: #52503B;

    &__container {
        max-width: 1200px;
        margin: 0 auto;
    }

    &__top {
        display: flex;
        padding-top: 100px;
        padding-bottom: 48px;
    }

    &__pages {
        margin-right: 20%;
        margin-left: 1rem;
    }

    &__pagesName {
        padding-bottom: 10px;
        font-family: $fontfamily;
        font-style: normal;
        font-size: 1rem;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;
        margin-bottom: 10px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-top: 1rem;
    }

    &__listElem {
        font-family: $fontfamily;
        font-size: 0.875rem;
        color: #FFFFFF;
        text-decoration: none;
    }

    &__media {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-right: 24%;

        p {
            font-family: $fontfamily;
            font-weight: 400;
            font-size: 0.875rem;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FFFFFF;
            text-align: center;
        }
    }

    &__icons {
        display: flex;
        gap: 1.7rem;
        margin-top: 16px;
    }

    &__newsName {
        font-family: $fontfamily;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__newsSlogan {
        font-family: $fontfamily;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 20px;
        color: #FFFFFF;
    }

    &__bottom {
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        p {
            font-family: $fontfamily;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;
            padding-bottom: 20px;
        }
    }

    &__menu>li {
        position: relative;
    }
}


.box {
    margin-top: 10px;
}

.container-1 {
    width: 25vw;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search {
    height: 50px;
    background: white;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    font-family: $fontfamily;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    color: #52503B
}

.container-1 .icon {
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
}



.footer__top {
    @include breakpoint-down(medium) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.footer__media {
    @include breakpoint-down(medium) {
        align-items: center;
    }
}
.footer__pages {
    @include breakpoint-down(medium) {
        margin: 0 auto;
    }
}

.footer__newsletter {
    @include breakpoint-down (medium) {
        margin-top: 50px;
        margin-left: 12px;
    }
}