@import './mixins';
@import './variables';


.bedroomImg {
    width: 100%;
    height: 41.25rem;
    background: url('../img/bedroom.png') left 50% bottom 87%/cover no-repeat border-box;;
}
.guests {
    margin-top: 6.81rem;
    background-color: #FAF8F0;

    &__head {
        font-family: $fontfamily;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        color: #333333;
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
    }

    &__text {
        font-family: $fontfamily;
        font-weight: 400;
        font-size: 0.84rem;
        color: #333333;
        padding-bottom: 1.25rem;
    }

    &__img {
        pointer-events: none;
    }

    &__avtor {
        font-family: $fontfamily;
        font-style: normal;
        font-weight: 400;
        font-size: 0.85rem;
        border-left: 2px solid #E08631;
        ;
        padding-left: 10px;
    }

    &__btn {
        background-color: rgb(255, 255, 255);
        border: 2px solid #52503B;
        border-radius: 30px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: all .3s ease 0s;
    }

    &__btn:hover {
        background-color: rgba(55, 55, 55, 0.596);
    }

    &__block {
        display: flex;
        justify-content: end;
        margin-left: 2rem;
        padding-bottom: 4.35rem;
        gap: 1rem;
    }
}

.swiper-list {
    margin: 0 auto;
    width: 52.5rem;
    overflow: hidden;
    margin-bottom: 2.3rem;
}

.swiper-wrapper {
    display: flex;
    flex-shrink: 0;
    gap: 3.75rem;

}

.swiper-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2.3rem;
    user-select: none;
    /* Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X */
    touch-action: pan-y;
}

.swiper-slide {
    background-color: white;
    padding: 2rem 2.93rem 2rem 2rem;
}

.guests__left.disabled,
.guests__right.disabled {
    opacity: .25;
    pointer-events: none;
}

.swiper-container-mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    gap: 2.5rem;
}

.links-mobile {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

.link-mobile {
    font-size: 0.8rem;
    font-family: $fontfamily;
    color: #333333;
    position: relative;
    transition: all 0.6s ease 0s;
    padding: 10px 8px;
    border-radius: 10px;
    background-color: rgba(165, 42, 42, 0.622);
    box-shadow: 0 5px 0px rgba(0, 0, 0, 0.416);
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;
}

.link-mobile:hover {

    top: 2px;
    box-shadow: 0 3px 0px rgba(0, 0, 0, 0.416);
    background-color: #e08631;
}
.coments-mobile {
    margin-bottom: 4rem;
}
.coment-mobile {
    display: none;
    width: 60%;
    background-color: white;
    padding: 1rem 1.6rem 1rem 1rem;
    border-radius: 10px;
    margin: 0 auto;

    p {
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: $fontfamily;
        font-size: 14px;
        color: #333333;
    }
}

.activebtn {
    color: white;
    background-color: black;
}




@media (max-width: 61.1875rem) {
    .swiper-container-mobile {
        display: flex;
    }
}

@media (max-width: 61.25rem) {
    .swiper-container {
        display: none;
    }
}