@import './mixins';
@import './variables';


.perfectEscape {
    max-width: 1200px;
    margin: 0 auto;

    &__title {
        font-family: $fontfamily;
        font-style: normal;
        @include adaptive-font(32, 26);
        color: #52503B;
        margin-top: 1.85rem;
        margin-bottom: 0.92rem;
    }

    &__slogan {
        font-family: $fontfamily;
        font-weight: 400;
        @include adaptive-font(16, 14);
        margin-bottom: 1.85rem;
        color: #52503B;

    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 1rem;
    }

    &__wrapper-element {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__description {
        p {
            font-family: $fontfamily;
            font-weight: 400;
            font-size: 14px;
            color: #52503B;

        }
    }
}