@import './mixins';
@import './variables';


.sleepArg {
    background-color: #FAF8F0;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1.875rem;
        padding-bottom: 6.25rem;
    }

    &__container-element {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        width: 21.625rem;
        align-items: center;
    }

    &__name {
        font-family: $fontfamily;
        font-size: 1rem;
        text-align: center;
        color: #52503B;
        padding-top: 0.75rem;
        padding-bottom: 0.85rem;
    }

    &__description {
        font-family: $fontfamily;
        font-size: 0.85rem;
        text-align: center;
        color: #52503B;
        width: 50%;
    }
}

.title {
    font-family: $fontfamily;
    font-style: normal;
    font-weight: 400;
    @include adaptive-font(32, 26);
    text-align: center;
    color: #52503B;
    margin-bottom: 0.875rem;
    margin-top: 1.875rem;
}

.slogan {
    font-family: $fontfamily;
    font-style: normal;
    font-weight: 400;
    @include adaptive-font(16, 13);
    text-align: center;
    color: #52503B;
}

@media (max-width: 65rem) {
    .sleepArg__container-element {
        margin-top: 1.4rem;
    }
}
@media (max-width: 43.25rem) {
    .sleepArg__container {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       flex-wrap: wrap;
       gap: 1.4rem;
    }
}