@import './mixins';
@import './variables';

.together {
    max-width: 1200px;
    margin: 0 auto;

    &__wrapper {
        display: flex;
        margin-top: 4rem;
        justify-content: space-between;
        gap: 6.56rem;
        margin-bottom: 7.875rem;
    }

    &__description {
        h6 {
            font-family: $fontfamily;
            @include adaptive-font(32, 26);
            color: #52503B;
            padding-bottom: 1rem;
        }

        p {
            font-family: $fontfamily;
            font-size: 1rem;
            color: #52503B;
        }
    }

    &__inform {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 2rem;
        column-gap: 3.75rem;
    }

    &__inform-item {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        p {
            font-family: $fontfamily;
            font-size: 0.875rem;
            color: #333333
        }
    }
}


.together__wrapper {
    @include breakpoint-down(medium) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.together__description p,
.together__description h6 {
    @include breakpoint-down(medium) {
        text-align: center;
    }
}